<div class="container mt-5">
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7">
            
            <div class="card p-3 py-4">
                
                <div class="text-center">
                    <img src="../../../assets/imagenes/fotoCv.jpeg" width="100" class="rounded-circle">
                </div>
                
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">Estudiante</span>
                    <h5 class="mt-2 mb-0">Joaquin Canepa</h5>
                    <br>
                    <div class="px-4 mt-1">
                        <h1>Sudoku!!</h1>
                        <p class="fonts">El juego ya conocido por todos, el cual se trata de un rompecabezas matemático cuyo objetivo es rellenar una cuadrícula de 9 por 9 celdas dividida 
                            en subcuadrículas de 3 por 3 con las cifras del 1 al 9 partiendo de algunos números ya dispuestos en algunas de las celdas </p>
                    
                    </div>
                    
                     <ul class="social-list">

                        <li><i class="fa fa-instagram">Instagram</i></li>
                        <li><i class="fa fa-linkedin">Linkedin</i></li>
                        <li><i class="fa fa-github">Github</i></li>
                    </ul>
                    
                    <div class="buttons">
                        <button routerLink="/home" class="nav-link text-white"class="btn btn-outline-primary px-4">Jugar</button>
                    </div>
                    
                    
                </div>
                
               
                
                
            </div>
            
        </div>
        
    </div>
    
</div>