body{
       background-color: transparent;
}

.card{
    border:none;
    background-color: transparent;
    backdrop-filter: blur(100px);
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
    border: 2px solid #020453;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#020453;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:19px;
    color: #fff;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#9e9fd8;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #9e9fd8 !important;
       color:#9e9fd8;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #9e9fd8 !important;
       color:#fff;
       height:40px;
       background-color:#020453;
}

.buttons button:nth-child(2){
       border:1px solid #9e9fd8 !important;
       background-color:#020453;
       color:#fff;
        height:40px;
}
h1, h5
{
    color: #fff;
}