<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="home.component.scss">
</head>
<body>
    <div class="container">
        <div class="background-image"></div>
        <div class="content">
            <label></label>
            <div class="game">
                <a href="home"><img src='../../../assets/ahorcado/icon-ahorcado.png' alt="juego1"></a>
                <p>AHORCADO</p>
            </div>
            <div class="game">
                <a href="home"><img src='../../../assets/preguntados/preguntados-icono.png' alt="juego2"></a>
                <p>Preguntados</p>
            </div>
            <div class="game">
                <a href="home"><img src='../../../assets/mayor-menor/mayor-menoricono.jpg' alt="juego3"></a>
                <p>¿Mayor o Menor?</p>
            </div>
            <div class="game">
                <a href="home"><img src='../../../assets/sudoku/sudoku-icono.png' alt="juego4"></a>
                <p>Sudoku</p>
            </div>
        </div>
    </div>
</body>
</html>
