<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<button routerLink="home" routerLinkActive="active-route" >Bienvenido</button> <!-- routerLinkActive="active-route" es el css -->
<button routerLink="quien-soy" routerLinkActive="active-route"  >Quien Soy</button>
<button routerLink="login" routerLinkActive="active-route"  >login</button>

<router-outlet />
