
.gradient-custom-4 {
background: #061285;
background: linear-gradient(to right, rgba(24, 11, 218), rgba(143, 211, 244, 1))
}

.card {
    background-color: transparent;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #020453;
  }
  
  h2 {
    color: #fdfdfd;
  }

  u {
    color: #fdfdfd; 
  }
  p
  {
    color: #fdfdfd;
  }